
#chat{
    display: flex;
    flex-direction: column;
    height: 80%;
    justify-content: space-between;
}

#conversation{
    /* height: 70%; */
    flex:1;
    padding: 15px;
    margin: 10px;
    overflow-y: auto;

}

#message{
    flex: 0.2;
    padding: 15px;
    margin: 10px;
}

#textArea{
    max-height: 100px;
    overflow-y: auto;
    scrollbar-width: thin;
}


body{
    height: 100vh;
    margin: 0;
}

.badge{
    font-weight: 450;
}